body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 90px;
    width: auto;
    margin: 0 20px 0 20px;
    background-color: rgb(3, 108, 212);
}

header img{
    height: 90px;
}

header h1{
    color: white;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
    padding-right: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    margin: 0 25px 0 25px;
    max-height: 100%;
}
.container h1{
    text-align: center;
    width: 100%;
}

.noticias-bsb{
    display: flex;
    flex-direction: row;
}

section{
    width: 50%;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
}

section img{
    max-width: 50%;
}

article{
    flex-direction: row;
    padding: 0 15px 15px 0;
    margin-bottom: 20px;
    /*height: 170px;*/
    overflow-y: scroll;
    border-bottom: solid 1px;
}

p{
    text-align: justify;
}

#ciencias{
    display:none;
    padding-left: 20px;
}

#ciencias img{
    width: 145px;
}

footer{
    display: flex;
    align-items:center;
    width: auto;
    height: 35px;
    background-color: rgb(3, 108, 212);
    margin: 0 20px 0 20px;
}

footer p{
    padding-left: 10px;
    font-size: 1em;
    font-style: italic;
    color: white;
}